.navbar {
    margin-bottom: 0;
}

.connection-info {
    width: 600px;
}

#map-canvas {

    width: 100%;

    height: -moz-calc(100% - 52px);
    height: -webkit-calc(100% - 52px);
    height: calc(100% - 52px);
}

body, html {
    padding: 0px;
    height: 100%;
    margin: 0px;
}

.green, .green a {
      color: #0a0;
  }

